/*///////*/
/* FONTS */
/*///////*/
@font-face {
	font-family: 'Vodafone Rg';
	src: url('../fonts/VodafoneRg-Regular.eot');
	src: url('../fonts/VodafoneRg-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/VodafoneRg-Regular.woff2') format('woff2'),
		 url('../fonts/VodafoneRg-Regular.woff') format('woff'),
		 url('../fonts/VodafoneRg-Regular.ttf') format('truetype'),
		 url('../fonts/VodafoneRg-Regular.svg#VodafoneRg-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Vodafone Lt';
	src: url('../fonts/VodafoneLt-Regular.eot');
	src: url('../fonts/VodafoneLt-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/VodafoneLt-Regular.woff2') format('woff2'),
		 url('../fonts/VodafoneLt-Regular.woff') format('woff'),
		 url('../fonts/VodafoneLt-Regular.ttf') format('truetype'),
		 url('../fonts/VodafoneLt-Regular.svg#VodafoneLt-Regular') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Vodafone Rg';
	src: url('../fonts/VodafoneRg-Bold.eot');
	src: url('../fonts/VodafoneRg-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/VodafoneRg-Bold.woff2') format('woff2'),
		 url('../fonts/VodafoneRg-Bold.woff') format('woff'),
		 url('../fonts/VodafoneRg-Bold.ttf') format('truetype'),
		 url('../fonts/VodafoneRg-Bold.svg#VodafoneRg-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* VARIABLES */
:root {
	--white: #fff;
	--red: #E60000;
	--duration: .45s;
	--redDark: #820000;
	--text: var(--red);
	--main-font: 'Vodafone Rg', sans-serif;
	--easing: cubic-bezier(.14, .72, .18, .84);
	--shadow: 0 4px 8.3px 5px rgba(0, 0, 0, .25);
}

/* NORMALIZE */
body*,button:focus,input:focus,select:focus,textarea:focus{outline:0}*,::after,::before,html{box-sizing:border-box}html{overflow-y:scroll;-ms-overflow-style:scrollbar}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body,input,select,textarea{font-weight:400;font-family:Arial}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}body *{-webkit-text-size-adjust:none}.clear{clear:both;overflow:hidden;height:0;font-size:0;display:block}input,select,textarea{appearance:none;border-radius:0;background:0 0;border:none;margin:0;width:100%}textarea{display:block;resize:none;overflow:auto}select::-ms-expand{display:none}input[type=file],input[type=submit]:not(.sbj-disable-button){position:absolute;left:0;top:0;height:100%;opacity:0;border:none;cursor:pointer;z-index:1}a,a:active,a:hover,a:link,a:visited{cursor:pointer;text-decoration:none;outline:0}body{font-size:14px;line-height:1}b,strong{font-weight:700}ol,ul{list-style:none}a{color:inherit}
/* BOOTSTRAP (ONLY GRID) */
.container,.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:576px){.container{max-width:540px}}.col,.col-auto{max-width:100%}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.no-gutters{margin-right:0;margin-left:0}.no-gutters>.col,.no-gutters>[class*=col-]{padding-right:0;padding-left:0}.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;padding-right:15px;padding-left:15px}.col{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1}.col-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto}.col-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.offset-1{margin-left:8.333333%}.offset-2{margin-left:16.666667%}.offset-3{margin-left:25%}.offset-4{margin-left:33.333333%}.offset-5{margin-left:41.666667%}.offset-6{margin-left:50%}.offset-7{margin-left:58.333333%}.offset-8{margin-left:66.666667%}.offset-9{margin-left:75%}.offset-10{margin-left:83.333333%}.offset-11{margin-left:91.666667%}@media (min-width:768px){.container{max-width:720px}.col-sm{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-sm-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-sm-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-sm-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-sm-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-sm-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-sm-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-sm-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-sm-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-sm-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-sm-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-sm-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-sm-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.offset-sm-0{margin-left:0}.offset-sm-1{margin-left:8.333333%}.offset-sm-2{margin-left:16.666667%}.offset-sm-3{margin-left:25%}.offset-sm-4{margin-left:33.333333%}.offset-sm-5{margin-left:41.666667%}.offset-sm-6{margin-left:50%}.offset-sm-7{margin-left:58.333333%}.offset-sm-8{margin-left:66.666667%}.offset-sm-9{margin-left:75%}.offset-sm-10{margin-left:83.333333%}.offset-sm-11{margin-left:91.666667%}}@media (min-width:992px){.container{max-width:960px}.col-md{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-md-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-md-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-md-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-md-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-md-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-md-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-md-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-md-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-md-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-md-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-md-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-md-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-md-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.offset-md-0{margin-left:0}.offset-md-1{margin-left:8.333333%}.offset-md-2{margin-left:16.666667%}.offset-md-3{margin-left:25%}.offset-md-4{margin-left:33.333333%}.offset-md-5{margin-left:41.666667%}.offset-md-6{margin-left:50%}.offset-md-7{margin-left:58.333333%}.offset-md-8{margin-left:66.666667%}.offset-md-9{margin-left:75%}.offset-md-10{margin-left:83.333333%}.offset-md-11{margin-left:91.666667%}}@media (min-width:1200px){.container{max-width:1400px}.col-lg{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-lg-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-lg-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-lg-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-lg-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-lg-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-lg-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-lg-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-lg-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-lg-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-lg-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-lg-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-lg-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-lg-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.offset-lg-0{margin-left:0}.offset-lg-1{margin-left:8.333333%}.offset-lg-2{margin-left:16.666667%}.offset-lg-3{margin-left:25%}.offset-lg-4{margin-left:33.333333%}.offset-lg-5{margin-left:41.666667%}.offset-lg-6{margin-left:50%}.offset-lg-7{margin-left:58.333333%}.offset-lg-8{margin-left:66.666667%}.offset-lg-9{margin-left:75%}.offset-lg-10{margin-left:83.333333%}.offset-lg-11{margin-left:91.666667%}}@media (min-width:1600px){.col-xl{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-xl-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-xl-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-xl-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-xl-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-xl-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-xl-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-xl-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-xl-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-xl-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-xl-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-xl-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-xl-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-xl-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.offset-xl-0{margin-left:0}.offset-xl-1{margin-left:8.333333%}.offset-xl-2{margin-left:16.666667%}.offset-xl-3{margin-left:25%}.offset-xl-4{margin-left:33.333333%}.offset-xl-5{margin-left:41.666667%}.offset-xl-6{margin-left:50%}.offset-xl-7{margin-left:58.333333%}.offset-xl-8{margin-left:66.666667%}.offset-xl-9{margin-left:75%}.offset-xl-10{margin-left:83.333333%}.offset-xl-11{margin-left:91.666667%}}

/* TOP PRIORITY STYLES */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background-color: var(--redDark);
}

::-webkit-scrollbar-thumb {
	background-color: var(--red);
}

/* ANIMATION */
.animation.fade-in,
a,
.btn,
.item .img,
.btn-close {
	will-change: opacity;
}

.animation.fade-in-up {
	will-change: transform, opacity;
}

.animation.fade-in,
.animation.fade-in-up {
	opacity: 0;
}

.animation.fade-in.animated,
.animation.fade-in-up.animated {
	opacity: 1;
}

.animation.fade-in {
	transition: opacity calc(var(--duration) * 2) var(--easing) calc(var(--duration) / 2.5);
}

.animation.fade-in-up {
	transition: transform calc(var(--duration) * 2) var(--easing) calc(var(--duration) / 2), opacity calc(var(--duration) * 2) var(--easing) calc(var(--duration) / 2);
}

.animation.fade-in-up.animated {
	transform: none;
}

.animation.fade-in-up {
	transform:translate3d( 0, 1.8rem, 0);
}

@keyframes fade-in {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.btn:before,
.btn:after {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

html,
body {
	height: 100%;
}

header,
.rules,
.brands,
.items {
	z-index: 1;
	position: relative;
}

body {
	color: var(--text);
	font-family: var(--main-font);
}

header,
.banner-circle,
.rules,
.items {
	color: var(--white);
}

.banner h1,
.banner .h1,
.rules h2,
.rules .h2,
.popup-title {
	font-weight: 700;
}

.banner-circle,
.rules li:before,
.item .img:before {
	border-radius: 50%;
}

header a,
header a:link,
.rules a,
.rules a:link {
	text-decoration: underline;
}

.banner .subtitle,
.popup-container p,
.rules ol {
	font-size: 1.25rem;
	line-height: 1.25rem;
}

.rules h2,
.rules .h2,
.btn,
.popup-title {
	text-transform: uppercase;
}

a,
.btn,
.item .img,
.btn-close {
	cursor: pointer;
	transition: opacity var(--duration) var(--easing);
}

@media (min-width: 1200px) {

	a:hover,
	.btn:hover,
	.item .img:hover,
	.btn-close:hover {
		opacity: .75;
	}
}

.popup-wrap {
	display: none;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-visible {
	overflow: visible;
}

.full-size {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.bg {
	margin-top: -1rem;
	border-radius: .938rem .938rem 0 0;
	background: linear-gradient(to bottom, var(--red) 0%, var(--redDark) 100%);
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: between;
}

.text-center {
	text-align: center;
}

.img img {
	width: 100%;
	height: auto;
	display: block;
	max-width: 100%
}

.img.cover img,
.img.contain img {
	height: 100%;
}

.img.cover img {
	object-fit: cover;
}

.img.contain img {
	object-fit: contain;
}

.banner h1,
.banner .h1,
.rules h2,
.rules .h2 {
	font-size: 1.438rem;
}

@media (max-width: 991px) {
}

@media (max-width: 575px) {

	.container {
		padding: 0 1.563rem;
	}
}

/* HEADER */
header,
.banner-circle {
	background-color: var(--red);
}

header {
	padding: .844rem 0;
	font-size: 1.188rem;
	margin-bottom: -1rem;
	line-height: 1.375rem;
	border-radius: 0 0 .625rem .625rem;
}

header .container {
	display: flex;
	align-items: center;
}

header a {
 	line-height: 1.375rem;
 }

header a,
.logo {
	display: inline-block;
}

.logo {
	max-width: 78px;
	margin-left: auto;
}

.banner,
.banner .container {
	position: relative;
}

.banner {
	height: 36.45rem;
	padding-top: 2rem;
}

.banner img {
	height: auto;
}

.banner h1,
.banner .h1 {
	line-height: 1.438rem;
	margin-bottom: .438rem;
}

.banner-circle {
	top: 0;
	right: 15px;
	display: flex;
	flex-wrap: wrap;
	width: 5.063rem;
	height: 5.063rem;
	font-weight: 700;
	position: absolute;
	font-size: 1.188rem;
	align-content: center;
	line-height: 1.188rem;
	justify-content: center;
}

.banner-circle span:first-child {
	font-size: 1.438rem;
	line-height: 1.438rem;
}

@media (min-width: 1200px) {
}

/* RULES */
.rules {
	padding: 2.8rem 0 1.9rem;
}

.rules h2,
.rules .h2 {
	line-height: 1.625rem;
	margin-bottom: 1.25rem;
}

.rules ol {
	line-height: 1.438rem;
}

.rules li:not(:last-child) {
	margin-bottom: .9rem;
}

.rules li:before {
	width: 1.563rem;
	height: 1.563rem;
	font-weight: 700;
	color: var(--red);
	position: relative;
	font-size: inherit;
	text-align: center;
	margin-left: -.25rem;
	margin-right: .25rem;
	line-height: 1.563rem;
	display: inline-block;
	vertical-align: middle;
	background-color: var(--white);
}

.rules li:nth-child(1) {
	padding-left: .75rem;
}

.rules li:nth-child(1):before {
	content: '1.';
}

.rules li:nth-child(2) {
	padding-left: 3rem;
}

.rules li:nth-child(2):before {
	content: '2.';
}

.rules li:nth-child(3) {
	padding-left: 8rem;
}

.rules li:nth-child(3):before {
	content: '3.';
}

.rules li span {
	width: 100%;
	display: block;
	padding-left: 36%;
}

.btn {
	top: 0;
	left: 50%;
	font-weight: 700;
	color: var(--red);
	text-align: center;
	position: absolute;
	white-space: nowrap;
	font-size: 1.446rem;
	padding: 0 1.2825rem;
	line-height: 2.938rem;
	display: inline-block;
	border-radius: 2.25rem;
	box-shadow: var(--shadow);
	background-color: var(--white);
	transform: translate(-50%, -50%);
}

/* BRANDS */
.brands {
	padding: .625rem 0 3rem;
}

.brands-logo {
	display: flex;
	flex-wrap: wrap;
	margin-right: -1rem;
	margin-bottom: -1rem;
}

.brands-logo img {
	margin-right: 1rem;
}

/* GIFTS */
.items {
	padding: 1.25rem 0 2rem;
}

.items .row {
	margin-left: -3px;
	margin-right: -3px;
}

.items .row > div {
	padding-left: 3px;
	padding-right: 3px;
	margin-bottom: .625rem;
}

.items .row > div:nth-child(3) .item .img:before,
.items .row > div:nth-child(7) .item .img:before,
.items .row > div:nth-child(9) .item .img:before,
.items .row > div:nth-child(10) .item .img:before {
	left: 0;
}

.items .row > div:nth-child(1) .item .img:before,
.items .row > div:nth-child(2) .item .img:before,
.items .row > div:nth-child(5) .item .img:before,
.items .row > div:nth-child(6) .item .img:before,
.items .row > div:nth-child(8) .item .img:before {
	right: 0;
}

.items .row > div:nth-child(2) .item .img:before,
.items .row > div:nth-child(3) .item .img:before,
.items .row > div:nth-child(6) .item .img:before,
.items .row > div:nth-child(7) .item .img:before,
.items .row > div:nth-child(8) .item .img:before {
	bottom: 0;
}

.items .row > div:nth-child(1) .item .img:before,
.items .row > div:nth-child(5) .item .img:before,
.items .row > div:nth-child(9) .item .img:before,
.items .row > div:nth-child(10) .item .img:before {
	top: 50%;
	transform: translateY(-50%);
}

.items .row > div:nth-child(9) .item .img:before {
	filter: blur(18px);
	transform: translateY(-50%) scale(.75);
}

.items .row > div:nth-child(4) .item .img:before {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.items .row > div:nth-child(1) .item .img img {
	top: -5%;
	left: -5%;
	width: 110%;
	height: 110%;
}

.item {
	margin-top: 1.25rem;
	border-radius: .688rem;
	padding: 0 .688rem .776rem;
	height: calc(100% - 1.25rem);
	border: 1px solid rgba(255, 255, 255, .7);
}

.item .img {
	width: 98.14%;
	position:relative;
	padding-top: 98.14%;
	margin-top: -1.25rem;
	margin-left: -.688rem;
}

.item .img:before {
	content: '';
	width: 5.875rem;
	height: 5.875rem;
	position: absolute;
	filter: blur(14.95px);
	background: rgba(255, 255, 255, 0.5);
}

.item .img.img-vertical {
	width: 56%;
	padding-top: 154%;
	margin-bottom: -54%;
}

.item .img.img-vertical + .item-title {
	padding-left: 46%;
}

.item .img img {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.item-title {
	font-size: 1rem;
	line-height: 1rem;
	padding-left: 17%;
	margin-right: -.688rem;
}

.items p {
	font-size: .625rem;
	margin-top: 1.25rem;
	line-height: .75rem;
}

/* POPUPS */
.popup {
	display: block;
	position: static;
}

.popup-content,
.popup-bg {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.popup-content {
	opacity: 0;
	z-index: 102;
	display: flex;
	position: fixed;
	visibility: hidden;
	align-items: center;
	justify-content: center;
	transition: opacity var(--duration) var(--easing) var(--duration), visibility 0s calc(var(--duration) * 2);
}

.popup-content.active {
	opacity: 1;
	visibility: visible;
	transition: opacity var(--duration) var(--easing), visibility 0s;
}

.popup-bg {
	position: absolute;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	background: linear-gradient(to bottom, rgba(230, 0, 0, .75) 0%, rgba(130, 0, 0, .75) 100%);
}

.popup-container,
.popup-container-img {
	min-width: 280px;
	position: relative;
	transition: opacity var(--duration) var(--easing);
}

.popup-container {
	box-shadow: var(--shadow);
	padding: 2rem 1.2rem 1.5rem;
	max-width: calc(100% - 30px);
	background-color: var(--white);
}

.popup-container-img {
	overflow: auto;
	padding: 30px 0 15px;
	max-width: calc(100% - 30px);
	max-height: calc(100% - 30px);
}

.popup-container-img .btn-close {
	position: fixed;
}

.popup-container p b {
	font-size: 1.325rem;
	line-height: 1.325rem;
}

.popup-title {
	font-size: 1.446rem;
	margin-bottom: 1rem;
	line-height: 1.446rem;
}

.popup-container .btn-close,
.popup-container-img .btn-close {
	top: 5px;
	right: 5px;
}

.btn-close {
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	border-radius: 50%;
	background-color: var(--white);
}

.btn-close:before,
.btn-close:after {
	top: 50%;
	height: 1px;
	content: '';
	left: .15rem;
	width: 1.2rem;
	position: absolute;
	background: var(--red);
}

.btn-close:before {
	transform: rotate(-45deg);
}

.btn-close:after {
	transform: rotate(45deg);
}
